.medium-more {
    padding: 1.35rem 2.5rem;
    font-size: 1.25rem;
    outline: transparent;
    background: var(--green);
    border: 1px solid var(--green);
    border-radius: 35px;
    color: var(--text-on-color);
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: 2rem;
    min-width: 200px;
    text-align: center;
  }
  
  .medium-more:hover,
  .medium-more:focus {
    background: transparent;
    border: 2px solid #93b876;
    color: var(--green);
    transform: scale(1.1);
    font-weight: bold;
  }