.project {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    padding: 3rem 5%;
    font-size: 1.25rem;
    line-height: 1.6;
    color: var(--card-bottom);
  }
  .img-card {
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    padding: 5%;
  }
  
  .card-project img {
    width: 100%;
    border-radius: 5px;
    border: 0.5rem solid #f6f6f6;
  }
  
  .project-desc {
    margin-top: 1rem;
  }
  
  .technology p {
    font-size: 1.15rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-right: 5%;
    line-height: 1.6;
    color: #919191;
    padding-top: 1.5rem;
  }
  
  .project-desc a {
    font-size: 2rem;
    color: var(--green);
  }
  
  .text-project {
    padding-right: 1rem;
  }

  
  /* Media queries */
  
  @media (min-width: 672px) {

  
    .article {
      text-align: left;
    }
    .row-subtitle {
      display: flex;
      justify-content: left;
    }
    .text-project {
      padding-right: 3.5rem;
    }
  }
  
  @media (min-width: 798px) {


    .card {
      grid-template-rows: 250px 1.5fr;
    }
    .project {
      display: grid;
      grid-template-columns: 1fr 0.9fr;
      grid-gap: 5rem;
      padding: 3rem 0;
      font-size: 1.45rem;
      justify-content: space-between;
      align-items: center;
    }
  
    .project-desc {
      margin-top: 0;
    }
    .text-project {
      padding-right: 10%;
    }
    .text-project {
      padding-right: 7rem;
    }
    .card-project img {
      border: 1.5rem solid #f6f6f6;
    }
  }
  