.section-title {
  text-align: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1.5rem;
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2rem;
  width: 100%;
  color: var(--green);
  text-transform: uppercase;
}

@media (min-width: 672px) {
  .section-title {
    text-align: left;
  }
}
