.hero {
  height: auto;
  /* margin-top: 65px; */
  text-align: center;
  line-height: 1.75;
  color: white;
  /* min-height: 85vh; */
  padding-top: 3rem;
  padding-bottom: 7.5rem;
}
.hero-info {
  padding-left: 2%;
  padding-right: 2%;
}
.hero h1 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2rem;
  color: var(--green);
}

.hero p {
  font-size: 1.25rem;
}

.me {
  max-width: 150px;
  height: auto;
  margin: 3rem auto 1rem;
}

.me-img {
  max-width: 100%;
  height: auto;
  border: 5px solid transparent;
  margin-bottom: 1rem;
  border-radius: 50%;
  min-width: 80px;
}

@media (min-width: 672px) {
  .hero {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 65px;
    min-height: 75vh;
  }
  .hero h1 {
    margin-top: 0;
    font-size: 2.5rem;
  }
  .me-photo {
    display: flex;
    /* width: 50%; */
    justify-content: center;
    padding-top: 3rem;
  }
  .me {
    max-width: 200px;
    margin: 0;
  }
}

@media (min-width: 798px) {
  .hero {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }
  .hero h1 {
    margin-top: 0;
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.5rem;
  }
  .hero-info {
    width: 50%;
    text-align: left;
    margin-top: -5%;
  }
  .me {
    max-width: 250px;
    margin: 0;
  }

  .me-photo {
    width: 50%;
  }
}
