.contact-page {
  margin: -5rem auto 0;
}

.contact-form {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;

}

.form-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 550px;
    justify-content: center;
  
}

input[type=text], input[type=email], textarea {
  width: 100%;
  margin: 0.5rem 1rem;
  vertical-align: middle;
  padding: .5rem;
  font-size: 1rem;
  outline: none;   
}

.form-control {
  background:#f9f9f9;
  border: 2px solid #e2e2e2;
}

.form-group h3 {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.8);
  padding:  .75rem 1.25rem;
  line-height: 1.5;
  text-align: left;
  
}

.submitBtn {
    padding: 1.35rem 2.5rem;
    font-size: 1.25rem;
    outline: transparent;
    background: var(--green);
    border: 1px solid var(--green);
    border-radius: 35px;
    color: var(--text-on-color);
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: 2rem;
    min-width: 200px;
    text-align: center;
}


  .submitBtn:hover,
  .submitBtn:focus {
    background: transparent;
    border: 2px solid #93b876;
    color: var(--green);
    transform: scale(1.1);
    font-weight: bold;
  }