header {
  background: rgb(25, 26, 29);
  clip-path: polygon(100% 0, 100% 89%, 72% 100%, 0 83%, 0 0);
  padding: 0 0 2.5%;
  margin-bottom: 10rem;
}

section {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 798px) {
  section {
    display: flex;
    flex-direction: row;
  }
}
