.nav {
  width: auto;
  line-height: 50px;
  top: 0;
  padding: 2% 5%;
}
.nav-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid var(--grey-border);
  z-index: 99;
}

.author-logo,
.other-pages {
  display: flex;
  flex-direction: row;
}
.author-logo li a {
  font-size: 1.35rem;
  font-weight: bold;
  color: var(--green) !important;
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a {
  color: var(--text-on-color);
  text-decoration: none;
  letter-spacing: 1px;
}
.other-pages-links {
  padding: 0 1rem;
}
.other-pages-links:first-of-type {
  padding-left: 0;
}

@media (min-width: 672px) {
  .nav-inside {
    border-bottom: 1px solid transparent;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 798px) {
  .nav {
    padding-left: 5%;
    padding-right: 5%;
  }
  .nav-inside {
    padding-left: 2%;
    padding-right: 2%;
  }

  .nav ul li a {
    font-size: 1.25rem;
    letter-spacing: 2px;
  }
}
